
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

/* ---- reset ---- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; 
}

html {
  scroll-behavior: smooth;
}



body {
  background-image: url(img/robo.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}


body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #18182b;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.596);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgba(21, 9, 51, 0);  /* creates padding around scroll thumb */
}

canvas{
  display: block;
}

hr{
  opacity: 0;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100vh; /* ---- "100VH" fez a imagem ficar boa olhando de um celular ---- */
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

/* menu */

nav{   /* itens do menu */
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100vw;
  top: 20px;
}

.menu{  /* quadrado que o menu fica dentro */
  padding: 15px;
  background-color: rgba(34, 34, 71, 0.5);
  backdrop-filter: saturate(180%) blur(15px);
  width: 29%;
  justify-content: center;
  border-radius: 20px;
  font: 400 1.2rem 'Inter', sans-serif;
}

ul{
  display: flex;
}

li{
  list-style-type: none;
  margin-left: 20px;
}

li a{
  text-decoration: none;
  color: white;
  position: relative;
}

li a:hover{/* evento que ocorre ao passar o mouse em cima do menu */
  color: #396df0;
}

li a::after{
  content: "";
  width: 0%;
  height: 2px;
  background-color: #2b62ec;
  position: absolute;
  top: 30px;
  left: 0;
  transition: 0.3s all;
}

li a:hover::after{
  width: 100%;
}

/* inicio site */
#inicio{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  text-align: center;
}

.titulo-inicio, h2{
  font: 300 1.5rem 'Inter', sans-serif;
  clear: #f5f5f5;
  color: rgb(255, 255, 255);
}

.nome{
  font: 400 3rem 'Inter', sans-serif;
}

.botao{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem; /* tira as bordas do botão */
}

.btn{
  background: linear-gradient(217.85deg, #4AA6F7 -1.54%, #1141BD 101.14%);;
  width: 150px;
  height: 50px;
  border-radius: 4px;  /* em vez de ficar quadrado fica meio redondo nas bordas */
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly; /* centralizou */ 
  text-decoration: none;
  font: 400 1rem 'Inter', sans-serif;
  color: #FFFFFF;
}

/* configuração de efeitos nos botões */

.btn:hover{
  opacity: .8;
}

.btn-a{
  text-decoration: none;
}

.btn-2{  /* botão do curriculo */
  background: transparent;;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #233563;
  cursor: pointer;
  position: relative;
  transition: .6s ease;
  transition: 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  font: 400 1rem 'Inter', sans-serif;
  color: #FFFFFF;
}

.btn-2:hover{
  border: 1px solid #293140;
  background: #0C1221;
}

/* sobre mim */

.titulos{
  font: 400 1.5rem 'Inter', sans-serif;
  display: flex;
  align-items: center;
  color: white;
}

.titulos::before {  /* linha que fica no começo do titulo */

  content: '';
  display: inline-block;
  width: 5px;
  height: 30px;
  margin-right: 10px;
  background: #1141BD;
}

.descricao{
  margin-top: 2rem;
  font: 300 0.8rem 'Inter', sans-serif;
  line-height: 1.9rem;
  color: white;
}

#sobre-mim .btn-2{
  margin-top: 1.5rem;
  width: 250px;
}

.pdf {
  background: #233563;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 0.7rem 'Inter', sans-serif;
}

.download{
  text-decoration: none;
}

/* skills */

.box-skills{
  background-color: #101a35;
  min-width: 9rem;
  height: 3rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid #1a2749;
  border-radius: 0.4rem;
  box-shadow: 0.3px 0.3px 5px rgb(10, 9, 20);
  margin: 1rem 3rem 0 0;   /* espaçamento entre eles */
  color: white;
}

.container-box-skills{  /* evento ou animação que acontece */
  display: flex;
  margin-top: 0.3rem;
  flex-wrap: wrap;
}

.box-skills:hover{  
  cursor: pointer;
  background-color: #010a1f;
}

p.skills-1{
  font: 400 1rem "Inter", sans-serif;
}


.container-skills img{
  width: 1.5rem;

}

/* projetos */

#projetos h1{
  margin-bottom: 4rem;
  max-height: 100%;
}

/* footer */

.barra{
  width: 70%;
  height: 1px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.849);
  margin-top: 5rem;
  margin-bottom: 3rem;
}

footer{
  margin-top: 10rem;
  color: #c9c9c9;
  width: 100%;
  font: 300 1rem 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
}

footer a{
  text-decoration: none;
  color: #c9c9c9;
}

.footer-link{
  color: #0048ff;
  font: 500 1.1rem "Inter", sans-serif; 
}


/* scroll reveal */
.col:nth-of-type(1) .card-container:nth-of-type(1) .card:before{
  background-image: url('img/cadastro.png');
}


/* responsivo */
@media(min-width: 1280px){
  #sobre-mim, #skills, #projetos{
    padding: 4rem 12rem;  
  }

  .titulos{
    font: 400 2rem 'Inter', sans-serif;
  }
  
  .descricao{
     font: 300 1.2rem 'Inter', sans-serif;
  }
  

  }

  /* quadrado dos projetos */


  .container{ 
    height: 30vh;
    flex-flow: row;
    perspective: 1000px;
    perspective-origin: center;
  }
  
  .container a{
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .col:nth-of-type(1){   /* animação para ficar de lado */
    transform: rotateY(5deg) translateZ(34px) scale(.98);
  }
  
  .col:hover,
  .col:focus{
    transform: translateZ(34px);
    transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000), opacity 300ms ease;
  }
  
  .card{
    border-radius: 5px;
    height: 100%;
    max-height: 100%;
    transition: all 300ms ease-out;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
    opacity: 1;
    padding: 13px 21px;
    
  }
  
  .card:before,
  .card:after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .8;
    transform: scale(.98);
  }
  
  .card:before{
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .card-container:hover .card:before,
  .card-container:hover .card:after,
  .card-container:focus .card:before,
  .card-container:focus .card:after{
    opacity: .34;
    transform: scale(1);
  }

  
  h4{
    font: 400 1.125rem 'Inter', sans-serif;
    transform: translateY(5px);  /* não deixa o que esta escrito na imagem desaparecer */
    transition: transform 450ms cubic-bezier(0.390, 0.575, 0.565, 1.000);  
  }
  
  .card > span{
    font-size: 34px;
  }
  
  .card-container:hover > .card > span,
  .card-container:focus > .card > span{
   opacity: 1;
      transform: translateX(3px);
    animation: slideRight 300ms ease;
  }
